@import "./variables/variables.scss";
@import "../src/scss/Auth/SignupForm.scss";
@import "../src/components/Header/header.scss";
body {
  font-family: $fontfamily;
  background-color: $primary-color;
  font-size: 14px;
}
